/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  background-color: #222946;
  padding: 20px;
}
.head1 {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.head2 {
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: #a3caea;
  border-radius: 6px;
}
.box1 {
  width: 30%;
  padding: 20px;
}
main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}
.box2 {
  width: 45%;
}
.icon {
  margin-right: 5px;
  vertical-align: middle;
}
.right div {
  margin: 10px;
}
.font {
  font-size: 28px;
  color: #222944;
  margin-top: 10px;
}
p {
  color: #73798d;
  line-height: 1.4;
  margin-top: 10px;
}
.padd {
  margin-top: 20px;
  background-color: #f2f8fd;
  padding: 10px;
}
button {
  background-color: #63b768;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 5px;
}

.shift {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.color {
  border: 2px solid #e97d32;
}
footer {
  background-color: #222946;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
footer h3 {
  color: white;
}
footer a {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}
